@model MVC5TicariOtomasyon.Models.Siniflar.Cariler

@using (Html.BeginForm("CariBilgiGuncelle", "CariPanel", FormMethod.Post))
{
    <form class="form-horizontal">
        @Html.HiddenFor(x => x.CariID)
        <div class="form-group row">
            <label for="CariAd" class="col-sm-2 col-form-label">Ad:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label for="CariSoyad" class="col-sm-2 col-form-label">Soyad:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label for="CariMail" class="col-sm-2 col-form-label">E-Posta:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label for="CariSehir" class="col-sm-2 col-form-label">Şehir:</label>
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(x => x.CariSehir, "Şehir Seçiniz.", new { @class = "form-control select2" })
            </div>
        </div>
        <div class="form-group row">
            <label for="CariSifre" class="col-sm-2 col-form-label">Şifre:</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.CariSifre, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" required> Bilgileri okudum. Şifre değiştirme şartlarını kabul ediyorum.
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-dark">Güncelle</button>
            </div>
        </div>
    </form>
}