@using MVC5TicariOtomasyon.Models.Siniflar
@model List<Mesajlar>
@{
    ViewBag.Title = "MesajDetay";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Mesaj Detayları</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/CariPanel/Index/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="">Mesaj Detay</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <a href="/Caripanel/YeniMesaj/" class="btn btn-dark btn-block mb-3">Yeni Mesaj Oluştur</a>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Klasörler</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item active">
                                <a href="/CariPanel/GelenMesajlar/" class="nav-link">
                                    <i class="fas fa-inbox"></i> Gelen Kutusu
                                    <span class="badge bg-primary float-right">@ViewBag.GelenMesaj</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/CariPanel/GidenMesajlar" class="nav-link">
                                    <i class="far fa-envelope"></i> Gönderilmiş E-Postalar
                                    <span class="badge bg-warning float-right">@ViewBag.GidenMesaj</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-file-alt"></i> Taslaklar
                                    <span class="badge bg-fuchsia float-right">0</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-filter"></i> Gereksiz E-Postalar
                                    <span class="badge bg-green float-right">2</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-trash-alt"></i> Silinmiş Öğeler
                                    <span class="badge bg-danger float-right">1</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Filtreler</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle text-danger"></i>
                                    Önemliler
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle text-warning"></i> Promosyonlar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle text-primary"></i>
                                    Sosyal
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            @foreach (var item in Model)
            {
                <div class="col-md-9">
                    <div class="card card-dark card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Mesajı Oku</h3>

                            <div class="card-tools">
                                <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>
                                <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="mailbox-read-info">
                                <h5>Konu : @item.MesajKonu</h5>
                                <h6>
                                    Gönderen : @item.MesajGonderici
                                    <span class="mailbox-read-time float-right">@Convert.ToDateTime(item.MesajTarih).ToString("dd/MM/yyyy")</span>
                                </h6>
                            </div>
                            <!-- /.mailbox-read-info -->
                            <div class="mailbox-controls with-border text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Delete">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Reply">
                                        <i class="fas fa-reply"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Forward">
                                        <i class="fas fa-share"></i>
                                    </button>
                                </div>
                                <!-- /.btn-group -->
                                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Print">
                                    <i class="fas fa-print"></i>
                                </button>
                            </div>
                            <!-- /.mailbox-controls -->
                            <div class="mailbox-read-message">
                                <p>Merhaba,</p>

                                <p>
                                    @Html.Raw(item.MesajIcerik)
                                </p>
                            </div>
                            <!-- /.mailbox-read-message -->
                        </div>
                        <!-- /.card-body -->
                        <!-- /.card-footer -->
                        <div class="card-footer">
                            <div class="float-right">
                                <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Yanıtla</button>
                                <button type="button" class="btn btn-default"><i class="fas fa-share"></i> İlet</button>
                            </div>
                            <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Sil</button>
                            <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Yazdır</button>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
            }

            <!-- /.col -->
        </div>
        <!-- /.row -->

</section>
<!-- /.content -->
