@model MVC5TicariOtomasyon.Models.Siniflar.Cariler
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Registration Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminTema/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminTema/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminTema/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        body {
            align-items: center !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-image: url("../../AdminTema/dist/img/background.jpg") !important;
            display: flex !important;
            flex-direction: column !important;
            height: 100vh !important;
            justify-content: center !important;
        }
    </style>
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a style="color:white;" href="../../index2.html"><b>Cari Kayıt Form</b></a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Kayıt olmak için formu doldurun.</p>

                <form method="post">
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control", @placeholder = "Adınızı girin" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(x => x.CariAd, "", new { @style = "color:red" })
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control", @placeholder = "Soyadınızı girin" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(x => x.CariSoyad, "", new { @style = "color:red" })
                    <div class="input-group mb-3">
                        @Html.EnumDropDownListFor(x => x.CariSehir, "Şehir Seçiniz.", new { @class = "form-control" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-city"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(x => x.CariSehir, "", new { @style = "color:red" })
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control", @placeholder = "Mail girin" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(x => x.CariMail, "", new { @style = "color:red" })
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(x => x.CariSifre, new { @type = "password", @class = "form-control", @placeholder = "Şifrenizi girin" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(x => x.CariSifre, "", new { @style = "color:red" })
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    Okudum onaylıyorum.
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Kayıt Ol</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center">
                    <p>- VEYA -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Facebook'u kullanarak kaydolun
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>
                        Google+'yı kullanarak kaydolun
                    </a>
                </div>

                @*<a href="/Login/CariGirisForm" class="text-center">Zaten Üyeliğim Var.</a>*@
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="~/AdminTema/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminTema/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminTema/dist/js/adminlte.min.js"></script>
    <script>
        document.getElementsByTagName("option")[0].disabled = true;
    </script>
</body >
</html >
